
<!-- Content Header (Page header) -->
<div class="col-md-5">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                
                    <h1>Modifier Admin</h1>
               
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                    
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>


<!-- Main content -->
<section class="content">
    <!-- Default box -->
   

    <div class="container">
        <form method="POST"  >
      
            <div class="form-group input-group-lg">
                <input  #textbox value="{{dataone.userName}}"   class="form-control" >
            </div>
      
            <div class="form-group input-group-lg">
                <input  #textbox2 value="{{dataone.email}}"   class="form-control" >
            </div>
      
                   <div class="form-group input-group-lg">
                <input #textbox3 value="{{dataone.password}}"    class="form-control">
            </div>
            <div class="form-group input-group-lg">
                <input #textbox4 value="{{dataone.cin}}"    class="form-control">
            </div>
    
            <div class="form-group">
                <button class="btn btn-info"  (click)="submitForm(textbox.value,textbox2.value,textbox3.value,textbox4.value)" >Modifier Stagiaire</button>
            </div>
        </form>
      </div>

    <!-- /.card -->
</section>
<!-- /.content -->

