<!-- Content Header (Page header) -->
<div class="col-md-15">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item" style="text-align: right;"><a href="#">Acceuil</a></li>
  
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
  
              <div class="container-xl">
                <div class="table-responsive">
                  <div class="table-wrapper">
                    <div class="table-title">
                      <div class="row">
                        <div class="col-sm-8">
                          <h2>Liste <b>Encadrants</b></h2>
                        </div>
                        <div class="col-sm-4">
                          <div class="search-box">
                            <i class="material-icons"></i>
                            <input type="text" class="form-control" placeholder="Search…">
                          </div>
                          <div></div>
                          <div class="col-sm-7">
  
                            <a href="#" class="btn btn-info"><i class="material-icons"></i> <span>Export to
                                Excel</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p><a routerLinkActive="list-item-active" routerLink="/addencadrant" class="btn btn-info"
                    role="button">Nouveau Encadrant </a></p>
  
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Password</th>
                      <th>Tel</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
  
                    <tr *ngFor="let item of ItemsArray">
                      <th>{{ item.id }}</th>
                      <td>{{ item.userName }}</td>
                      <td>{{ item.email }}</td>
                      <td>{{ item.password }}</td>
                      <td>{{ item.tel }}</td>
  
                      <td>
                        <a class="view" [routerLink]="['/encadrantdetails/', item.id]" title="View"
                          style="color: darkcyan;"><i class="material-icons"></i></a>
                        <a class="edit" [routerLink]="['/updatencadrant/', item.id]" title="Edit"
                          style="color:darkgoldenrod"> <i class="material-icons"></i>
                        </a>
                        <a class="delete" (click)="deleteEncadrant(item.id)" title="Delete" style="color:darkred;"><i
                            class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
  
  
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
  
              <!-- /.card -->
  
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
  
          <!-- /.col -->
        </div>
        <!-- /.row -->
  
        <!-- /.row -->
  
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
