<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="assets/img/logo_small.png" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1"></h4>
                                </div>

                                <form method="POST" id="myform">
                                    <h6>Connectez-vous à votre espace </h6>

                                    <div class="form-outline mb-4">
                                        <input #textbox type="email" id="form2Example11" class="form-control"
                                            placeholder="Email" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <input #textbox2 type="password" id="form2Example22" class="form-control"
                                            placeholder="Mot de passe " />

                                    </div>
                                    <div class="form-group input-group-lg">
                                        <select #type class="form-control">
                                            <option value="admin"> Admin</option>
                                            <option value="enseign"> Encadrant</option>
                                            <option value="stagiaire"> Stagiaire</option>

                                        </select>
                                    </div>

                                    <div class="form-group">




                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                            (click)="submitForm(textbox.value,textbox2.value, type.value)"> Se Connecter
                                        </button>
                                        <a class="text-muted" href="#!">Mot de passe oublié?</a>
                                    </div>


                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h5 class="mb-4">Nous sommes plus qu'une société </h5>
                                <p class="small mb-0">
                                    Inetum (anciennement Gfi Informatique) est une entreprise de services du numérique
                                    (ESN) française. Son siège se situe au 145 boulevard Victor-Hugo, à
                                    Saint-Ouen-sur-Seine. Inetum est classée comme 8ᵉ ESN en France sur la base du
                                    chiffre d'affaires.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>