.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a790fc;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #eb0c109d,#008B8B);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #090125, rgba(235, 12, 16, 0.616),#008B8B);
  
  
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  h6{
    color:#118392,
  
    
  }