<aside #mainSidebar class="main-sidebar sidebar-white-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
        <img
            src="assets/img/logo_small.png"
            
             style="width: 160px;"
            
            
        />
       
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img
                    src="assets/img/user2-160x160.jpg"
                    class="img-circle elevation-2"
                    alt="User Image"
                />
            </div>
            <div class="info">
                <a [routerLink]="['/profile']" class="d-block"
                    >Anissa Bjaoui</a
                >
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav  innerHTML={{ch}} class="mt-2">
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
