<div class="row">
  <div class="col-md-6 ng-star-inserted">
    <div  class="card">
      <div class="card-body">
        <h4  class="card-title mb-3">Encadrants</h4>
        <div >
          <div  class="text-center">
            <p class="mb-1">Total Encadrants</p>
            <h4>0

            </h4>
          </div>
          <!---->
          <div class="row ng-star-inserted">
            <img src="assets/img/prof.jfif" width="150px" height="150px"
              class="mx-auto d-block">
          </div>
          <!---->
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="col-md-6 ng-star-inserted">
    <div class="card">
      <div class="card-body">
        <h4  class="card-title mb-3">Stagiaires</h4>
        <div >
          <div class="text-center">
            <p  class="mb-1">Total Stagiaires</p>
            <h4>0</h4>
          </div>
          <!---->
          <div class="row ng-star-inserted">
            <img src="assets/img/icon-student.jpg" width="150px" height="150px"
              class="mx-auto d-block">
          </div>
          <!---->
        </div>
      </div>
    </div>
  </div>
  <!---->
</div>

        <!-- TABLE: LATEST ORDERS -->
        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Dernier Modification</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Titre</th>
                  <th>Description</th>
                
                </tr>
                </thead>
            
                <tbody>
                  <tr *ngFor="let item of ItemsArray">
                    <th>{{ item._id }}</th>
                    <td>{{ item.titre }}</td>
                  <td>{{ item.description }}</td>
                
                 
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-info float-right">Voir Modifications</a>
           
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      