<table style="overflow-x:scroll;"  mdbTable mdbTableScroll scrollX="true" maxHeight="200" bordered="true">
    <thead>
      <tr>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
        <th >A</th>
      </tr>
    </thead>
    <tbody>
     
    </tbody>
  </table>
  



  